<%if current_user.nil? %>
<script type="text/javascript">
    window.location.href="http://rgb.io"  // put your correct path in a string here
  </script>
 <% end %>

<%if current_user.urlname == @user.urlname %>

<h1>Profile Edit Page</h1> <br />

	<%= form_for @user do |f| %>
		<%= render "shared/error_messages", :target => @user %>
		<legend>General</legend>
			<div class="field">
				URL : Your current url is <%= "http://" << @user.urlname << ".rgb.io" %> <br />
				<%= f.text_field :urlname %> (No symbols or spaces) <br />
			</div>
			<div class="field">
				About: <br />
				<%= f.text_area :about %> <br />
			</div>
			<% f.fields_for :links do |builder| %>
   				<%= render 'link_fields', :f => builder %>
  			<% end %>
  			<legend>Links</legend>
  			Link to your other sites

  			URL's must have an http:// before them or else they won't work! <br />

  			<%= f.fields_for :links do |builder| %>
  				<%= builder.text_field :name %> <%= builder.text_field :url %><br />
  			<% end %>
  			<p><%= link_to_add_fields "Add Link", f, :links %></p>
			<div class = "actions">
			 	<%= f.submit "submit" %>
			</div>
		<% end %>
	<% end %>

