</head>
<body>
    <div class="row">
        <div class="span3">
            <div class="sidebar-nav sidebar-nav-fixed"> 
                <ul class ="nav nav-list">
                    <li class="nav-header">
                        hi
                        <% if current_user %>
                        <%= current_user.name %>!
                        <% end %>
                    </li>
                    <li class="nav-header">Sets </li>
                        <% @sets.each do |set| %>
                            <li> <%= link_to set.title, set_path(set.id) %>  </li>
                        <% end %>
                    <li class ="nav-header">Links </li>
                    <li class="divider"></li>
                    
                    <%= link_to "Sign in with Flickr", signin_url if current_user.nil? %> 
                    <%= link_to "Sign Out", signout_url( :subdomain => false) if !current_user.nil? %>
                </ul>
            </div>
        </div>
    </div>
    <div class="span10">
        <div id="wrapper">
            <% @photos.each do |photo| %>
                <div class="floatbox"> 
                    <%= image_tag photo.source_url, size: "#{photo.width}x#{photo.height}" %>
                </div>
            <% end %>
        </div>
    </div>
</div>



</body>
</html>




