</head>
<body>

    <div class="sidebar-nav sidebar-nav-fixed"> 
        <ul class ="nav nav-list">
            
            <%= link_to image_tag("http://farm" << @person.get_info!.icon_farm.to_s << ".staticflickr.com/" << @person.get_info!.icon_server.to_s << "/buddyicons/" << @person.get_info!.nsid << ".jpg"), @person.get_info!.photos_url %>
            
            <br /><br />
            <li class="nav-header">About</li>
            <%= @user.about %>
            <li class="nav-header">Sets </li>
                <% @sets.each do |set| %>
                    <li> <%= link_to set.title, set_path(set.id) %>  </li>
                <% end %>
            
            <!-- maybe put cameras used... pretty cool feature -->
           
            <div class ="user-controls">
                <li class="divider"></li>
                
                <% if current_user %>
                    <strong>Logged in as:</strong>
                    <%= current_user.urlname %> <br />
                    <%= link_to "Edit Profile", edit_url(subdomain: current_user.urlname) if !current_user.nil? %> </br>
                    <% end %>
                <%= link_to "Sign in with Flickr", signin_url( :subdomain => false) if current_user.nil? %> 
                <%= link_to "Sign Out", signout_url( :subdomain => false) if !current_user.nil? %> 
                
            </div>
        </ul>
    </div>


    <div id = "wrapper">
        <table>
            <tr>
            <% @photos.each do |photo| %>
                <td>
                    <%= image_tag photo.source_url, size: "#{photo.width}x#{photo.height}" %>
                </td>
            <% end %>
            </tr>
        </table>
    </div id = "wrapper">
<script type="text/javascript" charset="utf-8">

      $(function() {
          $("img").lazyload({effect: "fadeIn"});
      });

      $(function(){
        $("#page-wrap").wrapInner("<table cellspacing='30'><tr>");
        $(".post").wrap("<td>");
    });
  </script>

</body>


</html>




