    <div class="sidebar-nav sidebar-nav-fixed"> 
        <ul class ="nav nav-list">
            <div class = "profile-pic">
                <%= link_to image_tag(@profile_pic_url), @person.get_info!.photos_url %>
            </div>
            <br /><br />
            <li class="nav-header">About</li>
            <%= @user.about %>
            <li class="nav-header">Sets </li>
                <% @sets.each do |set| %>
                    <li> <%= link_to set.title, set_path(set.id) %>  </li>
                <% end %>
            
            <!-- maybe put cameras used... pretty cool feature -->
           
            <div class ="user-controls">
                <li class="divider"></li>
                
                <% if current_user %>
                    <strong>Logged in as:</strong>
                    <%= current_user.urlname %> <br />
                    <%= link_to "Edit Profile", edit_url(subdomain: current_user.urlname) if !current_user.nil? %> </br>
                

                <% end %>
                <%= link_to "Sign in with Flickr", signin_url( :subdomain => false) if current_user.nil? %> 
                <%= link_to "Sign Out", signout_url( :subdomain => false) if !current_user.nil? %> 
                
            </div>
        </ul>
    </div>

    <style type="text/css">
        .gallery {
            width: <%= @total_width %>px;
        }
    </style>
    <div class = "gallery">
        <% @photos.each do |photo| %>
            <img src="/assets/grey.gif" data-original="<%= photo.source_url %>" data-width="<%= photo.width %>" data-height="<%= photo.height %>" />
        <% end %>
        <div class="clearfix"></div>
    </div>

<script type="text/javascript" charset="utf-8">
    var origH = $(window).height();
    var newH  = $(window).height();
    var W = $(".gallery").width();
    var multiplier = 1 + (newH/<%= @max_height %>);
    $(".gallery").height(origH);
    $(".gallery").width(W*multiplier);
    function imgsize(){
        newH  = $(window).height();
        multiplier = 1 + (newH/origH);
        $(".gallery").height(newH);
        $(".gallery").width(W*multiplier);
    }
    $(window).bind('resize', function() { imgsize(); });

    $(function() {
        $(".gallery img").lazyload({ effect: "fadeIn"});
    });
/*
$(function() {
   $("body").mousewheel(function(event, delta) {
      this.scrollLeft -= (delta * 50);
          event.preventDefault();
   });
});
*/
</script>
