    
    <div class="sidebar-nav sidebar-nav-fixed"> 
        <ul class ="nav nav-list">
            <div class = "profile-pic">
                <%= link_to image_tag(@profile_pic_url), @person.get_info!.photos_url %>
            </div>
            <br />
            <div class="about">
                <%= @user.about %>
            </div>
            <br />
            <li class="nav-header">Sets </li>
                <% @sets.each do |set| %>
                    <li> <%= link_to set.title, set_path(set.id) %>  </li>
                <% end %>
            
            <!-- maybe put cameras used... pretty cool feature -->
           
            <div class ="user-controls">
                <li class="divider"></li>
                
                <% if current_user %>
                    <strong>Logged in as:</strong>
                    <%= current_user.urlname %> <br />
                    <%= link_to "Edit Profile", edit_url(subdomain: current_user.urlname) if !current_user.nil? %> </br>
                

                <% end %>
                <%= link_to "Sign in with Flickr", signin_url( :subdomain => false) if current_user.nil? %> 
                <%= link_to "Sign Out", signout_url( :subdomain => false) if !current_user.nil? %> 
                
            </div>
        </ul>
    </div>

    
    <div class="gallery" id="gal">
        <% @photos.each_with_index do |photo, i| %>
            <img src="/assets/grey.gif" class ="<%= i %>"data-original="<%= photo.source_url %>" data-width="<%= photo.width %>" data-height="<%= photo.height %>" />
        <% end %>
    </div>

<script type="text/javascript" charset="utf-8">
    var newH  = $(window).height();
    var w = $(".gallery").width();
    $(".gallery").height(newH);
     function imgsize(){
            newH  = $(window).height();
            totalImageWidth = 0;
            //multiplier = (newH/origH);
            $(".gallery").height(newH);
        }
        $(window).bind('resize', function() { imgsize(); });
      $(function() {
            $(".gallery img").lazyload({ effect: "fadeIn", threshold:2000});
        });

    var next;
    $('.gallery img').click(function() {
        var img_id = parseInt($(this).attr("class"));
        var next = $(".gallery ." + (img_id + 1));
        //$('#gal').scrollTo($('.gallery .' + next));
        /*$('#gal').animate({
            scrollLeft: $(".gallery ." + next).offset().left
        }, 800);*/
        $('body').scrollLeft(next.position().left - 200);
        console.log("clicked " + $(this).position().left);
        console.log("next " + next.position().left);
    
    });
/*
    var origH = $(window).height();
    var newH  = $(window).height();
    var W = $(".gallery").width();
    var newW = 0;
    var multiplier = (newH/<%= @max_height %>);
    $(".gallery").height(origH);
    $(".gallery").width(W*multiplier);
    var counter = 0;
    var totalImageWidth = 0;
    $(window).load(function(){
        $('.gallery img').each(function(){
          totalImageWidth += ($(this).width() + 5);
          counter++;
        });
        $(".gallery").width(totalImageWidth);
    });
    
    function imgsize(){
        newW = $(window).width();
        newH  = $(window).height();
        totalImageWidth = 0;
        $('.gallery img').each(function(){
          totalImageWidth += ($(this).width() + 5);
        });

        //multiplier = (newH/origH);
        $(".gallery").height(newH);
        $(".gallery").width(totalImageWidth);
    }
    $(window).bind('resize', function() { imgsize(); });

    $(function() {
        $(".gallery img").lazyload({ effect: "fadeIn"});
        totalImageWidth = 0;
        $('.gallery img').each(function(){
          totalImageWidth += ($(this).width() + 5);
        });
    });
    */
/*
$(function() {
   $("body").mousewheel(function(event, delta) {
      this.scrollLeft -= (delta * 50);
          event.preventDefault();
   });
});
*/

</script>
