<!DOCTYPE html>
<html>
<head>
  <title>rgb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "rails.validations" %>
  <%= javascript_include_tag "lazyload" %>
  <%= csrf_meta_tags %>
  <header class="navbar navbar-fixed-top navbar-inverse">
</header>
</head>
<body>

<%= yield %>

</body>
</html>
