<!DOCTYPE html>
<html>
<head>
  <title>rgb</title>
  <script type="text/javascript" src="//use.typekit.net/brd7ckr.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "rails.validations" %>
  <%= javascript_include_tag "lazyload" %>
  <%= javascript_include_tag "jquery.mousewheel.min" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= render :partial => 'layouts/ga' if Rails.env == 'production' %>
</body>
</html>
<script>
jQuery(document).ready(function() {
    jQuery('.expander').hide();
    jQuery('.trigger').click(function() {
      jQuery(this).next('.expander').slideToggle();
    });
  });
</script>